In [42]:
import pandas as pd
import numpy as np

In [43]:
payments = "data/payments_to_user.csv"
data = pd.read_csv(payments)

In [51]:
pay_df = pd.DataFrame(data, columns = ["pay_period","amount","currency","payout_type","processed_at","instant_pay","express_pay","weekly_pay"])
pay_df

,pay_period,amount,currency,payout_type,processed_at,instant_pay,express_pay,weekly_pay
0,2022-01-10 11:00:00 UTC,112.0,USD,express,2022-01-15 04:57:17 UTC,NaN,NaN,NaN
1,2021-11-15 11:00:00 UTC,47.0,USD,express,2021-11-18 01:27:26 UTC,NaN,NaN,NaN
2,2021-11-15 11:00:00 UTC,105.0,USD,express,2021-11-18 07:23:42 UTC,NaN,NaN,NaN
3,2021-10-11 10:00:00 UTC,97.0,USD,express,2021-10-19 10:34:30 UTC,NaN,NaN,NaN
4,2021-10-18 10:00:00 UTC,4.0,USD,express,2021-10-19 10:34:28 UTC,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
313,2022-02-21 11:00:00 UTC,194.0,USD,express,2022-02-28 07:07:31 UTC,NaN,NaN,NaN
314,2021-12-27 11:00:00 UTC,173.0,USD,express,2022-01-02 06:34:27 UTC,NaN,NaN,NaN
315,2022-03-21 10:00:00 UTC,244.0,USD,express,2022-03-26 08:56:06 UTC,NaN,NaN,NaN
316,2021-07-05 10:00:00 UTC,203.0,USD,weekly,2021-07-13 13:29:09 UTC,NaN,NaN,NaN
317,2021-10-11 10:00:00 UTC,114.0,USD,express,2021-10-16 01:14:32 UTC,NaN,NaN,NaN

### CREATE NEW DATAFRAME FOR EACH PAYTYPE

In [72]:
pay_df.sort_values(by="pay_period")

,pay_period,amount,currency,payout_type,processed_at,instant_pay,express_pay,weekly_pay
252,2021-06-28 10:00:00 UTC,278.0,USD,weekly,2021-07-06 13:37:50 UTC,NaN,NaN,NaN
316,2021-07-05 10:00:00 UTC,203.0,USD,weekly,2021-07-13 13:29:09 UTC,NaN,NaN,NaN
213,2021-07-12 10:00:00 UTC,393.0,USD,weekly,2021-07-20 13:48:11 UTC,NaN,NaN,NaN
228,2021-07-19 10:00:00 UTC,NaN,USD,weekly,2021-07-27 13:34:46 UTC,NaN,NaN,NaN
206,2021-07-26 10:00:00 UTC,2.0,USD,weekly,2021-08-03 13:41:56 UTC,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
25,2022-05-30 10:00:00 UTC,3.0,USD,instant,2022-06-03 07:21:16 UTC,NaN,NaN,NaN
26,2022-05-30 10:00:00 UTC,3.0,USD,instant,2022-06-03 00:29:15 UTC,NaN,NaN,NaN
62,2022-05-30 10:00:00 UTC,3.0,USD,instant,2022-06-01 20:50:45 UTC,NaN,NaN,NaN
17,2022-05-30 10:00:00 UTC,2.0,USD,instant,2022-06-03 06:31:48 UTC,NaN,NaN,NaN
31,2022-05-30 10:00:00 UTC,10.0,USD,instant,2022-06-03 07:02:09 UTC,NaN,NaN,NaN

In [49]:
#express_pay = []
#instant_pay = []
#weekly_pay = []

#for value in pay_df["payout_type"]:
#    if value == "express":
#        express_pay.append(pay_df["amount"])
#    if value == "instant":
#        instant_pay.append(pay_df["amount"])
#    if value == "weekly":
#        weekly_pay.append(pay_df["amount"])

In [50]:
#pay_df["pay_period","amount","currency","payout_type","processed_at","instant_pay","express_pay","weekly_pay"] = instant_pay, express_pay, weekly_pay